

.encabezado2:hover a{
    background-color: #ffffff;
    opacity: 100%;
    color: #000000;
}

.boton {
    font-size:  calc(0.8rem + 0.4vw) !important;
    font-weight: 400;
    color: #ffffff;
    text-decoration: none;
    background-color: #008955;
}

.boton:hover{
    color: #ffffff;
    background-color: #017a4c ;
}

.fondo {
    background-color: #f1f1f1;
    padding-top: 40px !important;
    padding-bottom: 80px !important;
}

.marcas {
    padding-top: 50px !important;
    padding-bottom: 60px !important;
}

.central {
    color: #5d5d5d;
    padding-bottom: 20px !important;
}

.parrafo {
    font-style: italic !important;
    font-size:  calc(0.8rem + 0.4vw) !important;
}

footer{
    background-color: #5d5d5d; 
}

.section3{
    background-color: #5d5d5d; 
}

.enlace {
    border-right:1px solid  #ffffff; 
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.5);
    text-decoration: none !important;
}


.enlace:hover {
    border-bottom: 0.5px solid rgba(255, 255, 255, 1);
}

.especial {
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.5);
    text-decoration: none !important;
}

.especial:hover {
    border-bottom: 0.5px solid rgba(255, 255, 255, 1);
}

.icono {
    text-decoration: none !important;
}

.hr1 {
    height: 1px;
    color: #ffffff;
    background-color: #ffffff !important;
}

.fa-instagram:hover{
    transition-duration: 0.5s !important;
    translate: -0px -10px !important;
}

.fa-x-twitter:hover{
    transition-duration: 0.5s !important;
    translate: -0px -10px !important;
}

.fa-square-facebook:hover{
    transition-duration: 0.5s !important;
    translate: -0px -10px !important;
}

.fa-square-pinterest:hover{
    transition-duration: 0.5s !important;
    translate: -0px -10px !important;
}

.fa-linkedin:hover{
    transition-duration: 0.5s !important;
    translate: -0px -10px !important;
}

.fa-tiktok:hover{
    transition-duration: 0.5s !important;
    translate: -0px -10px !important;
}

.fa-youtube:hover{
    transition-duration: 0.5s !important;
    translate: -0px -10px !important;
}

.hiper {
    color: #008955;
    text-decoration: none;
}

.hiper:hover {
    color: #008955;
    text-decoration: underline;
    text-decoration-color: rgba(0, 137, 85, 0.4);
}